# Python version
# python==3.12.10

# --- Web Framework ---
Flask==3.0.3
Flask-Cors==4.0.1

# MongoDB driver
pymongo==4.8.0
dnspython==2.6.1

# --- AI & Chatbot (OpenAI API) ---
openai==1.51.2
requests==2.32.3
python-dotenv==1.0.1



# --- Validation & Utils ---
pydantic==2.9.2
